html, body {
  font-family: calibri;
}
pre {
  white-space: pre-wrap;
}
.blue {
  color: rgb(0, 0, 150);
  border: 1px solid #ddd;
  padding: 1vh;
  margin: 1vh;
}
.green {
  color: green;
}
.inline-code {
  font-family: monospace;
  background-color: #ddd;
  padding: 2px;
}
.pink {
  color: #faf;
}
#ax pre {
 margin: 1vh;
 padding: 1vh;
}
#ax div {
 margin: 1vh;
 padding: 1vh;
}
h4 {
 font-family: monospace;
 font-size: 1.5em;
 margin: 1vh;
 padding: 1vh;
}